<main role="main" class="container">
  <%= @inner_content %>

  <section>
    <p>
      zlfera
    </p>
  </section>
  <footer>
    <p>
      copyright
      <a href="https://www.youmile.vip/index" target="_blank"></a> <%= DateTime.utc_now().year %>
    </p>
  </footer>
</main>
