<div id='page'>
<form action="https://www.dogedoge.com/results" target="_blank">
    <table><tr><td>
        <a href="https://www.baidu.com/"><img src="http://img.baidu.com/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
        <input type="text"  name="q">
        <input type="submit"  value="百度搜索">
    </td></tr></table>
</form>
<header>
  <nav>
    <a target='_blank' href="http://www.hao123.com">hao123</a>
    <a target='_blank' href="http://hao.360.cn">360</a>
    <a id='a_red' target='_blank' href="https://www.youmile.vip/grains">九江交易</a>
    <a id='q_red' target='_blank' href="http://www.ex-grain.cn/">谷物网</a>
    <a id='q_red' target='_blank' href="http://www.grainmarket.com.cn/">稻谷公告</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.ifeng.com/">凤凰网</a>
    <a target='_blank' href="http://www.taobao.com/">淘宝网</a>
    <a target='_blank' href="https://ruby-china.org/topics/">RubyChina</a>
    <a id="q_red" target='_blank' href="https://grain.gigalixirapp.com/grains">国家交易</a>
    <a id='q_red' target='_blank' href="http://123.127.88.167:8888/tradeClient/observe.html">粮食交易</a>
  </nav>
  <nav>
    <a target='_blank' href="http://cnbeta.com/">CnBeta</a>
    <a target='_blank' href="https://v2ex.com/">V2ex</a>
    <a target='_blank' href="http://qq.com">QQ</a>
    <a id='q_red' target='_blank' href="http://www.hbgrain.com/">湖北粮网</a>
    <a target='_blank' href="http://products.weather.com.cn/product/radar/index/procode/JC_RADAR_AZ9792_JB.shtml">天气预报</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.tmall.com/">天猫</a>
    <a target='_blank' href="http://www.hao123.com/jtwzcx">交通违章</a>
    <a target='_blank' href="http://news.sina.com.cn/">新浪新闻</a>
    <a target='_blank' href="https://36kr.com/">36kr</a>
    <a target='_blank' href="https://ditu.google.cn/">地图</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.mtime.com/">时光网</a>
    <a target='_blank' href="http://www.baidu.com/s?wd=%E4%B8%AD%E9%80%9A%E5%BF%AB%E9%80%92&rsp=6&f=1&oq=zto&tn=sitehao123&ie=utf-8&rsv_ers=xn1&rs_src=0">中通快递</a>
    <a target='_blank' href="http://www.iqiyi.com/">爱奇艺</a>
    <a target='_blank' href="https://bitbucket.org/">Bitbucket</a>
    <a target='_blank' href="http://bbs.cnhubei.com/forum-3-1.html">中部崛起</a>
  </nav>
  <nav>
    <a target='_blank' href="http://17ce.com/">17ce</a>
    <a target='_blank' href="http://openhome.cc/Gossip/JavaScript/index.html">Javascript</a>
    <a target='_blank' href="http://sequel.jeremyevans.net/">Sequel</a>
    <a target='_blank' href="https://newrelic.com/">Newrelic</a>
    <a target='_blank' href="https://id.heroku.com/login">Heroku</a>
  </nav>
  <nav>
    <a target='_blank' href="https://c9.io/web/login">C9</a>
      <a target='_blank' href="http://www.iyiou.com/">亿欧网</a>
      <a target='_blank' href="http://devdocs.io/">Devdocs</a>
      <a target='_blank' href="https://github.com/">Github</a>
      <a target='_blank' href="http://dict.cn/">词典</a>
  </nav>
</header>
